body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
    
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 200px;
}

.paragraph {
    line-height: 1.75;
    font-family: 'Lato', sans-serif;
}

.subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
}

.nav {
    font-size: 14px;
    position: fixed;
    top: 50px;
    left: 50px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}

ul {
    line-height: 2;
    font-family: 'Lato', sans-serif;
}

ol {
    line-height: 1.75;
    font-family: 'Lato', sans-serif;
}