body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
    
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 200px;

    line-height: 2;
}

.back1 {
    position: absolute;
    top: 230px;
    left: 570px;
    display: inline-block;
    background-color: #3FBDEA;
    width: 740px;
    height: 200px;
}

.back3 {
    position: absolute;
    top: 347px;
    left: 880px;
    display: inline-block;
    background-color: #D72626;
    width: 435px;
    height: 7px;
}

.feh1 {
    font-family: 'Barrio', cursive;
    position: absolute;
    top: -200px;
    left: 250px;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);

    font-size: 200px;
    color: red;
}

.edna {
    position: relative;
    top: 250px;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    line-height: 70%;
}

.mrinc {
    position: relative;
    top: 225px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 70%;
    color: black;
    font-weight: 600;
}

.square {
    position: absolute;
    left: 75px;
    width: 500px;
    height: 30px;
    background: yellow;

    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.highlight {
    position: relative;
    top: 360px;
    left: 133px;
    width: 270px;
    height: 5px;
    background: yellow;
}

.nav {
    font-size: 14px;
    position: fixed;
    top: 50px;
    left: 50px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}