body {
    background: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    color: black;

    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.bolder {
    font-weight: 600;
}

.xtitle {
    font-size: 30px;
    margin-left: 25px;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mumbai {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.moscow {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.newyork {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.tokyo {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.seoul {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.beijing {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.shanghai {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.paris {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.london {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.rio {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

a:link {
    text-decoration: none;
    color: black;
}

#circle1 {
    position: absolute;
    top: 5vh;
    left: 44vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle2 {
    position: absolute;
    top: 11vh;
    left: 57vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle3 {
    position: absolute;
    top: 30vh;
    left: 65vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle4 { 
    position: absolute;
    top: 56vh;
    left: 65vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle5 {
    position: absolute;
    top: 75vh;
    left: 57vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle6 {
    position: absolute;
    top: 82vh;
    left: 44vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle7 {
    position: absolute;
    top: 75vh;
    left: 30vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle8 {
    position: absolute;
    top: 56vh;
    left: 23vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle9 {
    position: absolute;
    top: 30vh;
    left: 23vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

#circle0 {
    position: absolute;
    top: 11vh;
    left: 30vw;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
}

.fuzz {
    width: 150px;
    height: auto;
    fill: blue;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}