body {
    background: whitesmoke;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    color: darkslategray;

    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.bolder {
    font-weight: 600;
}

.xtitle {
    display: none;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mumbai {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.moscow {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.newyork {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.tokyo {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.seoul {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.beijing {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.shanghai {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.paris {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.london {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

.rio {
    display: none;
    line-height: 1.5;
    margin: 25px;
    flex-basis: 20%;
}

a:link {
    text-decoration: none;
    color: black;
}

#circle1 {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, rgb(0, 140, 255) 0%,rgba(90,130,240,0) 70%,rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake1 2s;
    animation-iteration-count: infinite; 
}

@keyframes shake1 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(3.1px, 3.1px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-3.1px, -3.1px) rotate(-3.1deg); }
}

#circle2 {
    position: absolute;
    top: 15vh;
    left: 50vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake2 3s;
    animation-iteration-count: infinite; 
}

@keyframes shake2 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(1px, 1px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-1px, -1px) rotate(1deg); }
}

#circle3 {
    position: absolute;
    top: 30vh;
    left: 70vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%); 
    border-radius: 50%;
    animation: shake3 .5s;
    animation-iteration-count: infinite; 
}

@keyframes shake3 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(7.5px, 7.5px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-7.5px, -7.5px) rotate(-7.5deg); }
}

#circle4 { 
    position: absolute;
    top: 70vh;
    left: 80vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);   
    border-radius: 50%;
    animation: shake4 .5s;
    animation-iteration-count: infinite; 
}

@keyframes shake4 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(6.7px, 6.7px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-6.7px, -6.7px) rotate(-6.7deg); }
}

#circle5 {
    position: absolute;
    top: 70vh;
    left: 10vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake5 2s;
    animation-iteration-count: infinite; 
}

@keyframes shake5 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(2.6px, 2.6px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-2.6px, -2.6px) rotate(-2.6deg); }
}

#circle6 {
    position: absolute;
    top: 50vh;
    left: 44vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake6 3s;
    animation-iteration-count: infinite; 
}

@keyframes shake6 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(2px, 2px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-2px, -2px) rotate(-2deg); }
}

#circle7 {
    position: absolute;
    top: 75vh;
    left: 30vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake7 2s;
    animation-iteration-count: infinite; 
}

@keyframes shake7 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(3px, 3px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-3px, -3px) rotate(-3deg); }
}

#circle8 {
    position: absolute;
    top: 56vh;
    left: 23vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake8 3s;
    animation-iteration-count: infinite; 
}

@keyframes shake8 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(1px, 1px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-1px, -1px) rotate(-1deg); }
}

#circle9 {
    position: absolute;
    top: 30vh;
    left: 23vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake9 3s;
    animation-iteration-count: infinite; 
}

@keyframes shake9 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
}

#circle0 {
    position: absolute;
    top: 11vh;
    left: 30vw;
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(center, ellipse cover, 
    rgba(0, 140, 255) 0%,
    rgba(90,130,240,0) 70%,
    rgba(125,185,230,0) 100%);
    border-radius: 50%;
    animation: shake0 3s;
    animation-iteration-count: infinite; 
}

@keyframes shake0 {
    0%, 20%, 40%, 60%, 80%, 100% { transform: translate(1.5px, 1.5px) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-1.5px, -1.5px) rotate(-1.5deg); }
}

#circle1:hover .mumbai{
    display: block;
}

#circle2:hover .moscow{
    display: block;
}

#circle3:hover .newyork{
    display: block;
}

#circle4:hover .tokyo{
    display: block;
}

#circle5:hover .seoul{
    display: block;
}

#circle6:hover .beijing{
    display: block;
}

#circle7:hover .shanghai{
    display: block;
}

#circle8:hover .paris{
    display: block;
}

#circle9:hover .london{
    display: block;
}

#circle0:hover .rio{
    display: block;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}