body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin: 0;
}

.red {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: red;
    width: 800vw;
    height: 50vh;
    border: none;
}
