body {
    background: skyblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.greenbox {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    margin: 10px;
}