body {
    background: #fcfcfc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #292e38;
    
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.paragraph {
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    font-size: 38px;
}

.titling {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
}

.nav {
    font-size: 14px;
    position: fixed;
    top: 50px;
    left: 50px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}

.measurements {
    position: absolute;
    top: 200px;
    right: 0;
    margin-right: 125px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    border-width: .5px;
    border-style: solid;
    border-color: black;
    width: 425px;
    height: 290px;
    padding-top: 15px;
    padding-left: 20px;
}

@media only screen and (max-width: 1350px) {
    .measurements {
        position: relative;
        margin-top: -145px;
    }
    .subtitle {
        font-size: 38px;
    }
    .paragraph {
        font-size: 27px;
    }
    .tip {
        font-size: 27px;
    }
  }

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}


ol {
    line-height: 1.75;
    font-family: 'Roboto', sans-serif;
    max-width: 750px;
    font-size: 20px;
}

.forward {
    width: 150px;
    height: 35px;
    background-color: #0021c7;
    color: #fcfcfc;
    position: fixed;
    bottom: 0;
    right: 0px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: right;
}

.goback {
    width: 150px;
    height: 35px;
    background-color: rgb(73, 74, 82);
    color: white;
    position: fixed;
    bottom: 0;
    left: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: right;
}

.forward:hover {
    background-color: #5a6cc4;
}

.goback:hover {
    background-color: rgb(127, 126, 136);
}

.circle1 {
    position: fixed;
    bottom: 0;
    left: 550px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.circle2 {
    position: fixed;
    bottom: 0;
    left: 590px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.circle3 {
    position: fixed;
    bottom: 0;
    left: 630px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.circle4 {
    position: fixed;
    bottom: 0;
    left: 670px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.circle5 {
    position: fixed;
    bottom: 0;
    left: 710px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: slategray;
}

.circle6 {
    position: fixed;
    bottom: 0;
    left: 750px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.circle7 {
    position: fixed;
    bottom: 0;
    left: 790px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.circle8 {
    position: fixed;
    bottom: 0;
    left: 830px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 40px;
    background-color: lightgray;
}

.tip {
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
}