body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;

    line-height: 1.15;
}

.lowercase-a {
    width:400px;
    height:500px;
    border: 1px solid black;
    z-index: -5;
}

#a-bot {
    position: absolute;
    top: 270px;
    height: 15px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#a-top {
    position: absolute;
    height: 15px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#a-corner {
    position: absolute;
    left: 215px;
    height: 15px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#a-tail {
    position: absolute;
    top: 270px;
    left: 285px;
    height: 15px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#a-left{
    position: absolute;
    height: 250px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#a-right {
    position: absolute;
    top: 80px;
    left: 215px;
    height: 205px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black; 
}
  
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width:400px;
}

  a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}

.nav {
    font-size: 14px;
    position: fixed;
    top: 50px;
    left: 50px;
}