body {
    background: #fcfcfc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #292e38;
    
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.paragraph {
    line-height: 1.75;
    font-family: 'Roboto', sans-serif;
    max-width: 650px;
    font-size: 1.5em;
}

.dpg {
  line-height: 1.75;
  font-family: 'Roboto', sans-serif;
  max-width: 650px;
  font-size: 1.5em;
}

.titling {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 6vw;
}

.title2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 3vw;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
}

.tip {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  line-height: 1.5;
}

.measurements {
  position: absolute;
  top: 200px;
  right: 0;
  margin-right: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 2;
  border-width: .5px;
  border-style: solid;
  border-color: black;
  max-width: 300px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
} 

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}

ul {
    line-height: 2;
    font-family: 'Roboto', sans-serif;
    max-width: 750px;
    font-size: 20px;
    list-style: none;
}

ol {
    line-height: 1.75;
    font-family: 'Roboto', sans-serif;
    max-width: 750px;
    font-size: 20px;
}
  
  .image {
    display: block;
    width: 60%;
    height: auto;
    min-width: 330px;
  }
  
  .forward {
    width: 150px;
    height: 35px;
    background-color: #0021c7;
    color: #fcfcfc;
    position: fixed;
    bottom: 0;
    right: 0px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: right;
  }

  .goback {
    width: 150px;
    height: 35px;
    background-color: rgb(73, 74, 82);
    color: white;
    position: fixed;
    bottom: 0;
    left: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    align-items: right;
}

  .forward:hover {
      background-color: #5a6cc4;
  }

  .goback:hover {
    background-color: rgb(127, 126, 136);
}

.circle1 {
  position: fixed;
  left: 40%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle2 {
  position: fixed;
  left: 42%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle3 {
  position: fixed;
  left: 44%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle4 {
  position: fixed;
  left: 46%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle5 {  
  position: fixed;
  left: 48%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle6 {
  position: fixed;
  left: 50%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle7 {
  position: fixed;
  left: 52%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.circle8 {
  position: fixed;
  left: 54%;
  bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1150px) {
  .measurements {
    position: relative;
    margin-top: -115px;
    margin-bottom: 150px;
    margin-right: 35px;
  }
  .circle1 {
    position: absolute;
    left: 320px;
    top: 70px;
  }
  .circle2 {
    position: absolute;
    left: 345px;
    top: 70px;
  }
  .circle3 {
    position: absolute;
    left: 370px;
    top: 70px;
  }
  .circle4 {
    position: absolute;
    left: 395px;
    top: 70px;
  }
  .circle5 {  
    position: absolute;
    left: 420px;
    top: 70px;
  }
  .circle6 {
    position: absolute;
    left: 445px;
    top: 70px;
  }
  .circle7 {
    position: absolute;
    left: 470px;
    top: 70px;
  }
  .circle8 {
    position: absolute;
    left: 495px;
    top: 70px;
  }
}

@media only screen and (max-width: 950px) {
  .title2 {
    font-size: 1.5em;
  }
  .paragraph {
    max-width: 450px;
  }
}

  @media only screen and (max-width: 700px) {
    body {
      margin-top: 35px;
      margin-left: 25px;
      margin-right: 35px;
      margin-bottom: 100px;
    }
    .titling {
      font-size: 2em;
    }
    .title2 {
      font-size: 1.5em;
    }
    .subtitle {
      font-size: 38px;
    }
    .paragraph {
      max-width: 400px;
    }
    .dpg {
      font-size: 1em;
    }
    .forward {
      position: fixed;
      right: 0px;
      bottom: 0px;
      margin: 15px;
      width: 130px;
      height: 30px;
      padding-bottom: 3px;
    }
    .goback {
      position: fixed;
      left: 0px;
      bottom: 0px;
      margin: 15px;
      width: 130px;
      height: 30px;
      padding-bottom: 3px;
    }
    .container {
      position: fixed;
      left: 16%;
      bottom: 0;
      margin-bottom: 80px;
    }
    .measurements {
      position: relative;
      margin-top: -115px;
      margin-bottom: 150px;
      margin-right: 35px;
      font-size: .8em;
    }
    .circle1 {
      position: absolute;
      left: 35px;
      top: 95px;
    }
    .circle2 {
      position: absolute;
      left: 60px;
      top: 95px;
    }
    .circle3 {
      position: absolute;
      left: 85px;
      top: 95px;
    }
    .circle4 {
      position: absolute;
      left: 110px;
      top: 95px;
    }
    .circle5 {  
      position: absolute;
      left: 135px;
      top: 95px;
    }
    .circle6 {
      position: absolute;
      left: 160px;
      top: 95px;
    }
    .circle7 {
      position: absolute;
      left: 185px;
      top: 95px;
    }
    .circle8 {
      position: absolute;
      left: 210px;
      top: 95px;
    }
  }

  @media only screen and (max-width: 500px) {
    .paragraph {
    font-size: 1.15em;
    max-width: 350px;
  }
  .tip {
    font-size: 1em;
    max-width: 350px;
    line-height: 1.75;
  }
}