body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;

    line-height: 1.15;
}

.lowercase-m {
    width:400px;
    height:500px;
    border: 1px solid black;
    z-index: -5;
}

#m-top {
    position: absolute;
    left: 110px;
    height: 15px;
    width: 250px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#m-left {
    position: absolute;
    top: 35px;
    height: 15px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#m-right {
    position: absolute;
    left: 345px;
    top: 35px;
    height: 250px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#m-lstem {
    position: absolute;
    top: 105px;
    height: 180px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black; 
}

#m-mid {
    position: absolute;
    top: 270px;
    left: 180px;
    height: 15px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}
  
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width:400px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}