body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;

    line-height: 2;
}

#y-descend {
    position: absolute;
    left: 220px;
    height: 440px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#tail {
    position: absolute;
    top: 435px;
    left: 150px;
    height: 15px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#tail2 {
    position: absolute;
    top: 435px;
    left: 80px;
    height: 15px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#y-bot {
    position: absolute;
    top: 245px;
    height: 15px;
    width: 155px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

#y-side {
    position: absolute;
    height: 220px;
    width: 15px;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

.lowercase-y {
    width:400px;
    height:500px;
    border: 1px solid black;
    z-index: -5;
}
  
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width:400px;
}

  a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightskyblue;
}

.nav {
    font-size: 14px;
    position: fixed;
    top: 50px;
    left: 50px;
}